.main {
    background-color: rgb(35, 219, 41);
}

.menu li a {
    color: aliceblue;
    font-weight: 600;
    font-size: 20px;
}

.menu li a:hover {
    color: black;
    border-bottom: 2px solid red;
    transition: all linear 0.2S;
}


/* footer start */
.ftr {
    background-color: #003d2d;
}

.icon {
    margin-right: 5px;
    width: 30px;
    height: 30px;
}

.ftrpar {
    color: #f5f1f1;
    line-height: 28px
}

.ftrlist {
    color: #f8f3f3;
}

.fionc .icon:hover {
    background-color: rgb(95, 95, 44);
    box-shadow: 0px 0px 10px 3px yellow;
}

.ftrpar:hover {
    color: aqua;
}

.ftrlist li:hover {
    color: aqua;
    transition: linear 0.2s;
    cursor: pointer;
}

/* footer end */